:root{
    --Blue-950: #02295a ;
    --Purple-600: #473dff;
    --Blue-300: #adbeff;
    --Blue-200: #bfe2fd;
    --Red-500: #ed3548 ;
    --Grey-500: #9699ab ;
    --Purple-200: #d6d9e6 ;
    --Blue-100: #f0f5ff;
    --Blue-50: #fafbff;
    --White: #ffffff;
}

body{
    height: 100vh;
    background-color: var(--Blue-9501x);
    .container{
        gap: 60px;
        padding: 20px;
        height: 500px;
        background-color: var(--White);
        border-radius: 7px;
        width: auto;
        nav {
            padding: 20px;
            width: 50%;
            height: auto;
            background: url("../public/bg-sidebar-desktop.svg");
            background-repeat: no-repeat;
            width: auto;
            div{
                text-transform: uppercase;
                div{
                    width: auto;
                    text-wrap: nowrap;
                    h4{
                        font-weight: 500;
                        border-radius: 50%;
                        padding: 3px 12px;
                        text-align: center;
                        background-color: transparent;
                        border: 1px solid var(--Blue-100);
                    }
                    span+h3{
                        font-size: 15px;
                        font-weight: 500;
                        color: var(--White);
                    }
                    
                }

            }
            div.active{
                h4{
                    background-color: var(--Blue-200);
                    border: 2px solid var(--Blue-200);
                }

            }
        }
        .step-1{
            padding: 15px;
            width: auto;
            h1{
                font-size: 30px;
                font-weight: 700;
                color: var(--Blue-950);
                &::first-letter{
                    text-transform: uppercase;
                }
            }
            p{
                color: var(--Grey-500);
                text-wrap: nowrap;
                font-size: 15px;
                font-weight: 400;
            }
            form{
                gap: 15px;
                width: 100%;
                .name-input,
                .email-input,
                .phone-input{
                    .label-error{
                        width: 80%;
                        label{
                            font-size: 14px;
                            color: var(--Blue-950);
                            font-weight: 500;
                        }
                    }
                    gap: 3px;
                    width: 100%;
                    input{
                        border: 1px solid var(--Grey-500);
                        width: 80%;
                        padding: 0 14px;
                        height: 35px;
                        outline: none;
                        border-radius: 5px;
                        &:focus{
                            border: 1px solid var(--Blue-950);
                        }
                    }
                }
            }
            .button-div{
                position: absolute;
                left: 61%;
                top: 74%;
            }
        }
    }
}
